.git
.github
.agents
.codex
.env
.env.*
**/.env
**/.env.*
**/node_modules
**/out
**/dist
**/.cache
**/coverage
**/*.sqlite
**/*.sqlite3
data
logs

src/back/docs
src/back/tests
src/electron
src/obsidian-plugin
src/vscode-ext

docker-compose.yml
run-*
template-*.env
README.MD
logo.png
